ALLOWED_HOSTS="localhost, 127.0.0.1"
SECRET_KEY="SecretKey"

DATABASE_URL=postgres://postgres:admin123@db:5432/postgres
DEVELOPMENT_MODE=False

POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="admin123"